Ihor Kalnytskyi <ihor@kalnytskyi.com> <igor@kalnitsky.org>

https://github.com/git/git/blob/master/Documentation/mailmap.txt

If the file `.mailmap` exists at the toplevel of the repository, or at the
location pointed to by the mailmap.file or mailmap.blob configuration options,
it is used to map author and committer names and email addresses to canonical
real names and email addresses.
